# block
57 23 * * * root /var/mikbill/prod/cron/mikbill_block.sh
# daily
58 23 * * * root /var/mikbill/prod/cron/mikbill_day.sh
# monthly
01 0 1 * * root /var/mikbill/prod/cron/mikbill_mth.sh
# 5 min
0-59/5 * * * * root /var/mikbill/prod/cron/mikbill_5min.sh
# each hour
01 * * * * root /var/mikbill/prod/cron/mikbill_hour.sh

# Last day
59 23 28,29 2 * root /var/mikbill/prod/cron/mikbill_lastday.sh
59 23 31 1,3,5,7,8,10,12 * root /var/mikbill/prod/cron/mikbill_lastday.sh
59 23 30 4,6,9,11 * root /var/mikbill/prod/cron/mikbill_lastday.sh